<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"    default-autowire="byName" default-lazy-init="false">
	
	<!-- 
	<bean id="cto51BlogPoster" class="com.fpcms.common.blog_post.impl.ConfigableBlogPoster" >
		<property name="loginUrl" value="http://home.51cto.com/index.php?s=/Index/doLogin"></property>
		<property name="loginRequestBodyTemplate" >
			<value><![CDATA[email=${username}&passwd=${password}&autologin=on&reback=&button.x=45&button.y=11]]></value>
		</property>
		<property name="verifyLoginResultRegex" >
			<value><![CDATA[<meta http-equiv='Refresh' content='0;URL=/index.php?s=/Home/index'>]]></value>
		</property>
		
		<property name="postNewBlogUrl" value="http://linux2o848.blog.51cto.com/user_index.php?action=addblog_new"></property>
		<property name="postNewBlogContentType" value="multipart/form-data;"></property>
		<property name="postNewBlogRequestBodyTemplate">
			<value><![CDATA[]]></value>
		</property>
		<property name="verifyPostNewBlogResultRegex" value="aaa"></property>
	</bean>
	-->
	
	<!--
	<bean id="hexunBlogPoster" class="com.fpcms.common.blog_post.impl.ConfigableBlogPoster" >
		<property name="loginUrl" value="https://reg.hexun.com/login.aspx"></property>
		<property name="loginRequestBodyTemplate" >
			<value><![CDATA[username=${username}&password=${password}&LoginStateAuto=1]]></value>
		</property>
		<property name="verifyLoginResultRegex" >
			<value><![CDATA[11]]></value>
		</property>
		
		<property name="postNewBlogUrl" value="https://post.blog.hexun.com/PostArticleHandler.ashx"></property>
		<property name="postNewBlogRequestBodyTemplate">
			<value><![CDATA[blogname=f22353hg&action=0&oldclass=0&weibo=1&newcategorytextbox=%E8%AF%B7%E8%BE%93%E5%85%A5%E6%96%B0%E5%88%86%E7%B1%BB%E5%90%8D%E7%A7%B0&chkselected=&categorylist=0&ContentSpaw=${content}&TitleTextbox=${title}&articleid=0&draftid=0&SourceTextbox=&SourceUrlTextbox=&TagTextbox=tag&TrackbackTextbox=&BriefTextbox=&VerificationInput=undefined&postid=0&HideCheckbox=1&AcceptCommentCheckbox=1&posttype=%E5%8E%9F%E5%88%9B&postclass=77&StickOutCheckbox=0&StickOutOrderNumberTextbox=0&StickOutExpiredTimeTextbox=&xfh=undefined]]></value>
		</property>
		<property name="verifyPostNewBlogResultRegex" value="Success|操作成功"></property>
	</bean>
	 -->
		
	<!-- TODO: 需要得到OSchina的user_code,可以从登陆返回在成功页取回 -->
	<!-- 
	<bean id="oschinaBlogPoster" class="com.fpcms.common.blog_post.impl.ConfigableBlogPoster" >
		<property name="loginUrl" value="https://www.oschina.net/action/user/hash_login"></property>
		<property name="loginRequestBodyTemplate" >
			<value><![CDATA[email=fpqqchao@gmail.com&pwd=6367c48dd193d56ea7b0baad25b19455e529f5ee&save_login=1]]></value>
		</property>
		<property name="verifyLoginResultRegex" >
			<value><![CDATA[]]></value>
		</property>
		
		<property name="postNewBlogUrl" value="http://my.oschina.net/action/blog/save?as_top=0"></property>
		<property name="postNewBlogRequestBodyTemplate">
			<value><![CDATA[
			user_code=K0v0y4bY73AvkfZTdNSIRvLm2bnQ0lLZywYBCmoA&draft=0&title=@{title}&catalog=300881&content=@{content}&content_type=0&tags=&music_url=&pubDate=&type=1&origin_url=&privacy=0&deny_comment=0
			]]></value>
		</property>
		<property name="verifyPostNewBlogResultRegex" value='.*id".\d+.*'></property>
	</bean>	
	 -->
	
	<!-- 审核比较严格,放弃
	<bean id="blogbusBlogPoster" class="com.fpcms.common.blog_post.impl.ConfigableBlogPoster" >
		<property name="loginUrl" value="http://passport.blogbus.com/login"></property>
		<property name="loginRequestBodyTemplate" >
			<value><![CDATA[username=${username}&password=${password}&remember=on]]></value>
		</property>
		<property name="verifyLoginResultRegex" >
			<value><![CDATA[111]]></value>
		</property>
		
		<property name="postNewBlogUrl" value="http://blog.home.blogbus.com/6666994/posts/"></property>
		<property name="postNewBlogRequestBodyTemplate">
			<value><![CDATA[
			title=${title}&post_time=2013-02-05+17%3A13&content=${content}&sort_id=&tags=test_tag&excerpt=&visibility=public&password=&visi_opt=public&allow_comment=1&allow_trackback=1&allow_auto_link=1&force=0
			]]></value>
		</property>
		<property name="verifyPostNewBlogResultRegex" value="aaa"></property>
	</bean>	
	 -->

	<!-- 
	<bean id="sohuBlogPoster" class="com.fpcms.common.blog_post.impl.ConfigableBlogPoster" >
		<property name="loginUrl" value="https://passport.sohu.com/sso/login.jsp"></property>
		<property name="loginRequestBodyTemplate" >
			<value><![CDATA[userid=fpqqchao@gmail.com&password=ebe5011d4966e71138e51edac4587a79&appid=1019&persistentcookie=0&s=1363618028782&b=7&w=1280&pwdtype=1&v=26]]></value>
		</property>
		<property name="verifyLoginResultRegex" >
			<value><![CDATA[]]></value>
		</property>
		
		<property name="postNewBlogUrl" value="http://blog.sohu.com/manage/entry.do"></property>
		<property name="postNewBlogRequestBodyTemplate">
			<value><![CDATA[
			oper=art_ok&m=save&aid=0505752aa380e1c53e952aa587acb17b&shortcutFlag=true&contrChId=&contrCataId=&subflag=0&entrytitle=${title}&keywords=test_tag&categoryId=0&newGategory=&entrycontent=${content}&excerpt=&allowComment=2&perm=0
			]]></value>
		</property>
		<property name="verifyPostNewBlogResultRegex" value="aaa"></property>
	</bean>		 
	 -->
	
</beans>
