<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"    default-autowire="byName" default-lazy-init="false">
	
	<!-- 支持cron定时 -->
	<bean id="parentSinglePageCrawler" class="com.fpcms.common.webcrawler.htmlparser.SinglePageCrawler" abstract="true">
		<property name="minContentLength" value="500"></property>
		<property name="sourceLang" value="auto"></property>
	</bean>
	
	<!-- 
	<bean parent="parentSinglePageCrawler">
		<property name="sourceLang" value="en"></property>
		<property name="urlList">
			<list>
				<value>http://indiatoday.intoday.in/section/114/1/india.html</value>
				<value>http://indiatoday.intoday.in/section/110/1/business.html</value>
				<value>http://news.yahoo.com/</value>
				<value>http://www.infoq.com/</value>
			</list>
		</property>
		<property name="acceptUrlRegexList">
			<list>
				<value>http://.*.intoday.in.*/story/.*/\d{5,}.html.*</value>
				<value>http://.*.yahoo.com/.*-\d{6,}.html.*</value>
				<value>http://www.infoq.com/news/.*</value>
			</list>
		</property>
	</bean>
	 -->
	
<!---->
<!--	<bean parent="parentSinglePageCrawler">-->
<!--		<property name="sourceLang" value="fr"></property>-->
<!--		<property name="urlList">-->
<!--			<list>-->
<!--				<value>http://www.rfi.fr/afrique</value>-->
<!--				<value>http://www.rfi.fr/france</value>-->
<!--			</list>-->
<!--		</property>-->
<!--		 http://www.rfi.fr/afrique/20130201-pourquoi-afrique-sud-est-reservee-intervention-francaise-mali -->
<!--		<property name="acceptUrlRegexList">-->
<!--			<list>-->
<!--				<value>http://\w+.rfi.fr/\w+/\d{6}.*</value>-->
<!--			</list>-->
<!--		</property>-->
<!--	</bean>-->
<!---->
<!--	<bean parent="parentSinglePageCrawler">-->
<!--		<property name="minContentLength" value="200"></property>-->
<!--		<property name="sourceLang" value="ja"></property>-->
<!--		<property name="urlList">-->
<!--			<list>-->
<!--				<value>http://www.asahi.com/national</value>-->
<!--				<value>http://www.asahi.com/culture</value>-->
<!--			</list>-->
<!--		</property>-->
<!--		 http://www.asahi.com/national/update/0201/TKY201302010186.html -->
<!--		<property name="acceptUrlRegexList">-->
<!--			<list>-->
<!--				<value>http://.*.asahi.com/.*articles/.*\d+.*.html</value>-->
<!--				<value>http://.*.asahi.com/.*/update/\d+/.*.html</value>-->
<!--			</list>-->
<!--		</property>-->
<!--	</bean>-->
	
	<!-- 
	<bean parent="parentSinglePageCrawler">
		<property name="minContentLength" value="100"></property>
		<property name="sourceLang" value="en"></property>
		<property name="urlList">
			<list>
				<value>http://stackoverflow.com/</value>
			</list>
		</property>
		<property name="acceptUrlRegexList">
			<list>
				<value>http://stackoverflow.com/questions/\d+/.*</value>
			</list>
		</property>
	</bean>
	 -->
	
	<!-- 
	<bean parent="parentSinglePageCrawler">
		<property name="sourceLang" value="en"></property>
		<property name="urlList">
			<list>
				<value><![CDATA[https://www.google.com.hk/search?num=30&hl=en&gl=us&tbm=nws&q=allintitle:invoice]]></value>
				<value><![CDATA[https://www.google.com.hk/search?num=100&hl=en&as_epq=invoice&as_qdr=d&as_occt=title&tbs=qdr:d,sbd:1]]></value>
				<value><![CDATA[https://www.google.com.hk/search?num=100&hl=en&as_epq=invoice&as_qdr=d&as_occt=title&tbs=qdr:d,sbd:1&start=100]]></value>
				<value><![CDATA[https://www.google.com.hk/search?num=100&hl=en&as_epq=invoice&as_qdr=d&as_occt=title&tbs=qdr:d,sbd:1&start=200]]></value>
				<value><![CDATA[https://www.google.com.hk/search?num=100&hl=en&as_epq=invoice&as_qdr=d&as_occt=title&tbs=qdr:d,sbd:1&start=300]]></value>
			</list>
		</property>
		<property name="excludeUriRegexList">
			<list>
				<value>.*ebay.*</value>
				<value>.*google.*</value>
			</list>
		</property>
	</bean>	
	 -->
	
	<bean parent="parentSinglePageCrawler">
		<property name="sourceLang" value="zh-CN"></property>
		<property name="urlList">
			<list>
				<value><![CDATA[https://www.google.com.tw/search?q=%E5%8F%91%E7%A5%A8&hl=zh-CN&newwindow=1&source=lnt&tbs=qdr:d&sa=X&biw=1440&bih=69&num=100]]></value>
			</list>
		</property>
		<property name="excludeUriRegexList">
			<list>
				<value>.*google.*</value>
				<value>.*360buy.*</value>
				<value>.*youku.*</value>
				<value>.*taobao.*</value>
			</list>
		</property>
	</bean>
	 
</beans>
